fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings

langchain
langchain-core
langchain-groq
langchain-community
langgraph
langsmith

sentence-transformers
chromadb

requests
httpx
pymongo